L3N7UO_0929/HD_konyv.dtd

<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE konyvek [
	<!ELEMENT konyvek (konyv)>
		<!ELEMENT konyv (cim, kiadasiev, kiado, szerzo+, absztrakt*)>
			<!ELEMENT cim (#PCDATA)>
			<!ELEMENT kiadasiev (#PCDATA)>
			<!ELEMENT kiado (#PCDATA)>
			<!ELEMENT szerzo (#PCDATA)>
			<!ELEMENT absztrakt #IMPLIED>
			<!ATTLIST konyvek id ID #REQUIRED>
]>