L3N7UO_0929/HD_konyv.dtd

<?xml version="1.0" encoding="UTF-8"?>

	<!ELEMENT konyvek (konyv+)>
		<!ELEMENT konyv (cim, kiadasiev, kiado, szerzo+, absztrakt?)>
			<!ELEMENT cim (#PCDATA)>
			<!ELEMENT kiadasiev (#PCDATA)>
			<!ELEMENT kiado (#PCDATA)>
			<!ELEMENT szerzo (#PCDATA)>
			<!ELEMENT absztrakt (#PCDATA)>
			<!ATTLIST konyv id ID #REQUIRED>